.git
.github
.gradle
.idea
.vscode
**/.gradle
**/build
**/build/**
**/*.iml
**/.DS_Store
logs
logs/**
output-directory
output-directory/**
docker/config
docker/config/**
docker/logs
docker/logs/**
docker/output-directory
docker/output-directory/**
/gc.log
/database*
/tron-data
/tron-data/**
/Wallet
/Wallet/**
/nodeId.properties
/vm_trace
/vm_trace/**
**/.env
**/.env.*
**/*.keystore
