.git
.github
.gradle
.idea
.vscode
**/.gradle
**/build
**/build/**
**/*.iml
**/.DS_Store
logs
logs/**
output-directory
output-directory/**
docker/config
docker/config/**
docker/logs
docker/logs/**
docker/output-directory
docker/output-directory/**
